@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  max-width: 1240px;
  margin: 40px auto 0;
}

.logo {
  width: 210px;
  height: 68px;
}

.list_items {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ff6060;
  text-decoration: none;
  margin-left: 57px;
}
