@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
}

.logo {
    width: 210px;
    height: 68px;
}

.list_items {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
    margin-left: 30px;
}