@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  max-width: 1240px;
  width: 100%;
  margin: 40px auto;
  padding: 0 10px;
}

.logo {
  width: 210px;
  height: 68px;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 57px;
}

.list_items {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ff6060;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.list_items:active {
  text-decoration: underline;
}

@media all and (max-width: 535px) {
  .navbar {
    max-width: 335px;
    margin: 20px auto 0;
  }

  .logo {
    width: 145px;
    height: 47px;
  }

  .list {
    gap: 20px;
  }

  .list_items {
    font-size: 12px;
  }
}
