.svgContainer {
    display: flex;
    gap: 10px;
}

svg {
    width: 24px;
    height: 24px;
}

.fa-star.red {
    color: #FF6060;
}

.fa-star.grey {
    color: #E3E3E3;
}

@media all and (max-width: 376px) {
    .svgContainer {
        gap: 5px;
    }
    
    svg {
        width: 18px;
        height: 18px;
    }
}